.App {
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.container {
  display: flex;
  align-items: center; /* Center content vertically */
}

.logo-container {
  margin-right: 40px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Make the navbar flex */
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-family: 'Karla', sans-serif; 
  font-weight: 800; 
  font-size: 10pt; 
  text-transform: uppercase; 
}

.navbar li a:hover {
  color: #555;
}
