.header {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 10px;
}

.container {
  display: flex;
  align-items: center; 
}

.logo-container {
  margin-right: 40px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 20;
  display: none;
  transition: opacity 0.3s ease; 
}

.navbar.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px; 
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  z-index: 999;
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.navbar.show.active {
  opacity: 1; 
}

.menu-toggle {
  display: block;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.3s ease;
}

.menu-toggle.rotate {
  transform: rotate(180deg); 
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  font-family: 'Karla', sans-serif; 
  font-weight: 800; 
  font-size: 10pt; 
  text-transform: uppercase; 
}

.navbar li a:hover {
  color: #555;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
  }
  .menu-toggle {
    display: none;
  }
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #495E57;
  color: white;
  width: 100%;
  margin-top: 20px;
  height: 500px; 
  overflow: hidden; 
}

.text-content {
  text-align: left;
  padding-top: 40px;
  margin-right: 50px;
}

.title {
  color: #F4CE14;
  font-family: 'Markazi Text';
  font-weight: medium;
  font-size: 64pt;
}

.subtitle {
  color: #EDEFEE;
  font-family: 'Markazi Text';
  font-size: 40pt;
  margin-top: -20px;
}

.text-content p {
  font-family: 'Karla';
  font-size: 18pt;
}

.reserve-button {
  background-color: #000;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #333;
}

.restaurant-image {
  max-width: 30%; 
  padding-top: 20px;
  position: relative; 
}

.restaurant-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column; 
    height: auto; 
  }

  .text-content {
    padding-top: 20px; 
    margin-left: 50px; 
    text-align: center;
  }

  .subtitle {
    margin-top: 5px; 
  }

  .restaurant-image {
    max-width: 100%; 
    max-height: auto; 
    bottom: 0; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px;
  }
}

.highlights-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px;
}

.highlights-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width:50%; 
}

.highlights-content h2 {
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
  font-weight: bold;
}

.order-menu-button {
  background-color: #000;
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.order-menu-button:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .highlights-content {
    width:100%; 
  }

  .highlights-content h2 {
    font-size: 14pt;

  }

  .order-menu-button {
    background-color: #000;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

.dishes-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.dish-card {
  flex: 1 1 calc(50% - 20px); 
  max-width: 400px;
  border: 1px solid #EDEFEE;
  border-radius: 16px 16px 5px 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.dish-image {
  width: 100%;
  border-top-left-radius: 16px; 
  border-top-right-radius: 16px; 
  object-fit: cover;
}

.dish-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.dish-details h3 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 20px;
}

.dish-price {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin-right: 20px;
  color: #EE9972;
  font-weight: bold;
}

.dish-description {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  color: #495E57;
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.order-delivery {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.delivery-icon {
  font-size: 20px;
  margin-left: 5px;
}

@media (max-width: 768px) {

  .dish-card {
    flex: 1 1 calc(100% - 20px); 
  }

  .dish-details h3 {
    font-size: 15px;
    margin-left: 10px;
  }
  .dish-price {
    font-size: 13px;
    margin-right: 10px;
  }
}

.testimonials-section {
  text-align: center;
  padding: 50px 0;
  margin-top: 20px;
}

.testimonials-title {
  font-family: 'Markazi Text';
  font-size: 36pt;
  font-weight: medium;
  margin-bottom: 100px;
  margin-top: 150px;
}

.testimonial-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 100px;
}

.testimonial {
  width: 200px; 
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonials-section h3 {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.testimonials-section p {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testimonial-details {
  margin-top: 20px;
}

.rating {
  color: #FFD700; 
}

.star {
  margin-right: 5px;
}

.review {
  margin-top: 10px;
}

.about-us-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25%;
  margin-right: 20px;
}

.about-us-text {
  text-align: left;
}

.about-us-text h3 {
  font-family: 'Markazi Text';
  font-size: 40pt;
  margin-top: -80px;
}

.about-us-text h2 {
  font-family: 'Markazi Text';
  font-size: 64pt;
  font-weight: medium;
  margin-top: 20px;
}

.about-us-text p {
  font-family: 'Karla', sans-serif;
  font-size: 20pt;
}

.about-us-image {
  max-width: 100%; 
  height: auto; 
}

.about-us-image img {
  width: 100%; 
  height: auto; 
  display: block; 
}

@media (max-width: 768px) {
  .about-us-section {
    flex-direction: column; 
    align-items: center;
    margin-right: 20px;
    margin-left:20px; 
  }

  .about-us-content {
    max-width: 100%; 
    margin-bottom: 20px; 
    text-align: center; 
  }
}

.footer-section {
  background-color: #D9D9D9;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
}

.footer-column {
  flex: 0 1 auto; 
  margin: 50px; 
  max-width: 20%; 
}

.footer-column img {
  max-width: 100%;
}

.doormat-navigation,
.social-media-links,
.footer-column > h3,
.footer-column > p {
  text-align: center; 
}

.doormat-navigation {
  list-style-type: none;
  padding: 0;
}

.doormat-navigation li {
  margin-bottom: 10px;
}

.doormat-navigation li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.doormat-navigation li a:hover {
  text-decoration: underline;
  color: #495E57;
}

.social-media-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-links li {
  margin-right: 10px;
}

.social-media-links li .icon {
  margin-left: 10px;
}

.social-media-links li:last-child {
  margin-right: 0;
}

.social-media-links li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.social-media-links li a:hover {
  color: #495E57; 
}


@media only screen and (max-width: 600px) {
  .footer-section {
    flex-direction: column; 
  }

  .footer-column {
    max-width: 100%; 
  }
}